In [1]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                 [1, 2, 3, 1, 2, 3, 1, 2, 3]])
s1.index.names = ['key1','key2']
s1

key1  key2
a     1       0.460914
      2       0.421593
      3      -0.080442
b     1       1.181457
      2       1.512241
c     3       2.001058
      1       0.704749
d     2       0.117353
      3      -0.401550
dtype: float64

In [2]:
s2 = pd.Series(np.random.randn(9),
          index=pd.MultiIndex.from_arrays([
              ['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
              [1, 2, 3, 1, 2, 3, 1, 2, 3]
              ],names=['key1','key2']))
s2

key1  key2
a     1       0.348102
      2       0.656362
      3      -0.222473
b     1       0.252392
      2      -0.993009
c     3      -0.671351
      1      -1.004756
d     2       0.287777
      3       0.168941
dtype: float64

In [3]:
display(s2.unstack("key2",fill_value=0))
s2.unstack("key1",fill_value=0)

key2         1         2         3
key1
a     0.348102  0.656362 -0.222473
b     0.252392 -0.993009  0.000000
c    -1.004756  0.000000 -0.671351
d     0.000000  0.287777  0.168941

key1         a         b         c         d
key2
1     0.348102  0.252392 -1.004756  0.000000
2     0.656362 -0.993009  0.000000  0.287777
3    -0.222473  0.000000 -0.671351  0.168941

In [4]:
s3 = s2.unstack("key1",fill_value=0)
s3.T

key2         1         2         3
key1
a     0.348102  0.656362 -0.222473
b     0.252392 -0.993009  0.000000
c    -1.004756  0.000000 -0.671351
d     0.000000  0.287777  0.168941

In [5]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=pd.MultiIndex.from_arrays([['a','a','b','b'],[1, 2, 1, 2]],names=['key1','key2']),
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
frame.columns.names = ['縣市','顏色']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [6]:
frame['台北']

顏色         Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

In [7]:
frame['台北']['Green']

key1  key2
a     1       0
      2       3
b     1       6
      2       9
Name: Green, dtype: int64

In [8]:
display(frame)
frame.loc['a']

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

縣市      台北        台中
顏色   Green Red Green
key2
1        0   1     2
2        3   4     5

In [9]:
display(frame)
frame.loc['a']['台中']

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

顏色    Green
key2
1         2
2         5

In [10]:
#堆疊資料
display(frame.stack(level='縣市'))
display(frame.stack(level=['縣市','顏色']))

/tmp/ipykernel_4910/3680083442.py:2: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  display(frame.stack(level='縣市'))

顏色            Green   Red
key1 key2 縣市
a    1    台中      2   NaN
          台北      0   1.0
     2    台中      5   NaN
          台北      3   4.0
b    1    台中      8   NaN
          台北      6   7.0
     2    台中     11   NaN
          台北      9  10.0

/tmp/ipykernel_4910/3680083442.py:3: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  display(frame.stack(level=['縣市','顏色']))

key1  key2  縣市  顏色
a     1     台中  Green     2.0
            台北  Green     0.0
                Red       1.0
      2     台中  Green     5.0
            台北  Green     3.0
                Red       4.0
b     1     台中  Green     8.0
            台北  Green     6.0
                Red       7.0
      2     台中  Green    11.0
            台北  Green     9.0
                Red      10.0
dtype: float64

In [11]:
s1 = frame.stack(level=['縣市','顏色'])
s1.unstack(level=['key1','顏色'])

/tmp/ipykernel_4910/2339712476.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  s1 = frame.stack(level=['縣市','顏色'])

key1        a          b
顏色      Green  Red Green   Red
key2 縣市
1    台中   2.0  NaN   8.0   NaN
     台北   0.0  1.0   6.0   7.0
2    台中   5.0  NaN  11.0   NaN
     台北   3.0  4.0   9.0  10.0