In [10]:
import pandas_datareader.data as pdr
import yfinance as yf
yf.pdr_override()

pdr.get_data_yahoo('AAPL')

AttributeError: module 'yfinance' has no attribute 'pdr_override'

In [9]:
#我上面的yf.pdr_override() 不能用，好像是yfinance 0.2.40版本才有。 唉，用download直接就可以下啦，我找到滴！
import yfinance as yf
yf.download('IBM')

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open   Volume
Ticker             IBM         IBM         IBM         IBM      IBM
Date
1962-01-02    1.491550    1.508500    1.491550    1.508500   407940
1962-01-03    1.504590    1.504590    1.491551    1.491551   305955
1962-01-04    1.489595    1.504589    1.488943    1.504589   274575
1962-01-05    1.460260    1.487640    1.457652    1.487640   384405
1962-01-08    1.432880    1.458956    1.421146    1.458956   572685
...                ...         ...         ...         ...      ...
2025-04-28  236.160004  236.630005  232.070007  232.860001  3653500
2025-04-29  239.389999  239.979996  236.139999  237.000000  3426500
2025-04-30  241.820007  242.470001  234.339996  236.729996  5143000
2025-05-01  239.660004  242.369995  237.949997  241.440002  4243300
2025-05-02  245.550003  245.690002  241.330002  243.130005  3731400

[15941 rows x 5 columns]

In [ ]:
all_data = {ticker:pdr.get_data_yahoo(ticker) for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}
all_data

In [ ]:
tickers = {'AAPL':"apple",'IBM':'ibm','MSFT':'美孚','GOOG':'google'}

for key,value in tickers.items():
    print(key)
    print(value)

In [ ]:
import pandas as pd
prices = pd.DataFrame({key:dataFrame['Adj Close'] for key,dataFrame in all_data.items()})
prices

In [ ]:
df1 = prices.dropna()
df1.info()

In [ ]:
df1.loc['2024']

In [ ]:
df1.loc['2024-05']

In [ ]:
df1.loc['2024-05-01']